.bg-img{
  background-image: url('../pic/home-state-of-the-child.jpg');
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.otherimg{
  background-image: url('../pic/DSC_2742.jpeg');
  background-position: center;
  background-size: cover;
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 7em;

}

#history-section {
  background-color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}
h1.title-ipad, div.title-underline { display: none; }
table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
td.title {
  width: 20.5%;
  color: #858585;
  border-right: 1px solid #9F9F9F;
  position: relative;
}
td.title h1 {
  font-size: 44px;
  padding-right: 25%;
  position: absolute;
  top: 20px;
}
.info {
  font-weight: bold;
  font-size: 16px;
  color: #707070;
  margin-top: 2em;
}
td.content {
color: black;
font-size: 20px;
}
td.content article {
  padding-left: 6.5%;
}
@media (max-width: 1024px) {
  td.title h1 { font-size: 2rem; }
}
@media (max-width: 768px) {
  #history-section { padding: 3rem 0; }
  h1.title-ipad { display: block; text-align: center; font-size: 2rem; color: #1FB4E8; margin-bottom: 0.8rem; }
  div.title-underline { display: block; width: 15rem; margin: 0 auto 0.8rem; border-top: 2px solid #1fb4e8; }
  td.title {
    display: none;
  }
 }
